{% apply spaceless %}
<!DOCTYPE html>
<html>
	<head>
<title>{{ page_title }}</title>
<meta name="author" content="Samy" />
<meta name="viewport" content="initial-scale=1.0" />
<meta name="robots" content="noindex" />
<meta charset="UTF-8" />

{% block link %}{% endblock %}
{% block style %}{% endblock %}

{% include('script.twig') %}
{% block script %}{% endblock %}
	</head>
	<body style="font-family: arial, sans-serif; background-color: #fff; color: #000; padding:20px; font-size:18px;">
<div style="max-width:400px;">
	<hr noshade="" size="1" style="color:#ccc; background-color:#ccc;" />
	<br />
	{% block captcha %}{% endblock %}
	<br />
	<hr noshade="" size="1" style="color:#ccc; background-color:#ccc;" />
	<div style="font-size:13px;">
		<b>About this page</b>
		<br /><br />
		Our systems have detected unusual traffic from your computer network.
		This page checks to see if it's really you sending the requests, and not a robot.
		<br /><br />
		<div style="background-color:#eee; padding:10px; margin:0 0 15px 0; line-height:1.4em;">
			This page appears when requests coming from your computer network which appear to be in violation of the Terms of Service.
			The block will expire shortly after those requests stop.
			In the meantime, solving the above CAPTCHA will let you continue to use our services.
			<br /><br />
			This traffic may have been sent by malicious software, a browser plug-in, or a script that sends automated requests.
			If you share your network connection, ask your administrator for help - a different computer using the same IP address may be responsible.
			<br /><br />
			Sometimes you may be asked to solve the CAPTCHA if you are using advanced terms that robots are known to use, or sending requests very quickly.
		</div>
		IP address: {{ client_ip }}<br />
		Time: {{ time_atom }}<br />
		URL: {{ current_url }}<br />
	</div>
</div>
	</body>
</html>
{% endapply %}