{% apply spaceless %}
<!DOCTYPE html>
<html>
	<head>
<title>{{ page_title }}</title>
<meta name="author" content="Samy" />
<meta name="viewport" content="initial-scale=1.0" />
<meta name="robots" content="noindex" />
<meta charset="UTF-8" />


{% block link %}{% endblock %}
{% block style %}{% endblock %}


<style>
	html, body {
		width: 100%;
		height: 100%;

		margin: 0px;
		border: 0px;
		padding: 0px;
	}

	body {
		background: rgb(222,222,222);
		background: linear-gradient(180deg, rgba(222,222,222,1) 40%, rgba(255,255,255,1) 60%);
	}

	h1 {
		margin-top: 0px;
		font-size: 40px;
		color: #6F6F6F;
	}


	.position-center {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.flex-column {
		display: flex;
		flex-direction: column;
	}
</style>


{% include('script.twig') %}
{% block script %}{% endblock %}
	</head>
	<body>
<div class="position-center flex-column">
	<h1>One More Step</h1>
	{% block captcha %}{% endblock %}
</div>
	</body>
</html>
{% endapply %}