<script src="https://cdn.jsdelivr.net/npm/link-preload@1/link-preload.min.js" defer></script>

<script>
	var SPONSORSHIP_URL = '{{ sponsorship_url }}';

	function captcha_submit(){
		var form = document.querySelector('form#captcha-form');

		if(form){
			if(SPONSORSHIP_URL != ''){
				form.setAttribute('target', '_blank');

				setTimeout(function(){
					window.location.href = SPONSORSHIP_URL;
				}, 300);
			}

			form.submit();
		}
	}
</script>
