{% extends ("theme/" ~ theme) %}

{% block link %}
	<link rel="preload" as="script" href="https://hcaptcha.com/1/api.js" async defer />
{% endblock %}

{% block style %}
	<style>
		label { text-align: center; color: #9A9A9A; font-size: 12px; }
		label > a { text-decoration: none; }
	</style>
{% endblock %}

{% block captcha %}
	<center>
		<form id="captcha-form" method="post" action="{{ form_action }}">
			{% for name,value in form_data %}
				<input name="{{ name }}" type="hidden" value="{{ value }}" />
			{% endfor %}

			<div class="h-captcha" data-sitekey="{{ sitekey }}" data-callback="captcha_submit"></div>
			<label>powered by <a href="https://shortly.win/hcaptcha" target="_blank">hCaptcha</a></label>
		</form>
	</center>
{% endblock %}

